root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
# Setting this to true makes VSCode break typing flow. The following ticket mentions that Intellisense dropdowns
# disappear, and that is presumably fixed.  However, if you aren't, then the cursor still jumps and typing flow is still
# broken.
#
# See https://github.com/editorconfig/editorconfig-vscode/issues/40
# insert_final_newline = true
trim_trailing_whitespace = true
